## Question 1 Cars Prediction - Regression

## Team Members
Dhrish S Kumar - E0320008<br>
A Ch Rohit - E0320022<br><br>
Dataset - Cars Data

## Importing Libraries

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Cars_data.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
df.shape

(205, 26)

## Data Cleaning and Data Preparation

In [4]:
df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [6]:
df.isna().any()

car_ID              False
symboling           False
CarName             False
fueltype            False
aspiration          False
doornumber          False
carbody             False
drivewheel          False
enginelocation      False
wheelbase           False
carlength           False
carwidth            False
carheight           False
curbweight          False
enginetype          False
cylindernumber      False
enginesize          False
fuelsystem          False
boreratio           False
stroke              False
compressionratio    False
horsepower          False
peakrpm             False
citympg             False
highwaympg          False
price               False
dtype: bool

In [7]:
CompanyName = df['CarName'].apply(lambda x : x.split(' ')[0])
df.insert(3,"CompanyName",CompanyName)
df=df.drop(["car_ID","CarName"],axis=1)
df.head()

,symboling,CompanyName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
df.columns

Index(['symboling', 'CompanyName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [9]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1:]
x

,symboling,CompanyName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28
201,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25
202,-1,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23
203,-1,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,six,145,idi,3.01,3.40,23.0,106,4800,26,27
204,-1,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25

In [10]:
y

       price
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
..       ...
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[205 rows x 1 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
columns=['CompanyName', 'fueltype', 'aspiration', 'doornumber','carbody', 'drivewheel', 'enginelocation','enginetype','cylindernumber', 'fuelsystem']
for col in columns:
    x[col]=le.fit_transform(x[col])
x.head()

,symboling,CompanyName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,1,1,0,1,0,2,0,88.6,168.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
1,3,1,1,0,1,0,2,0,88.6,168.8,...,2,130,5,3.47,2.68,9.0,111,5000,21,27
2,1,1,1,0,1,2,2,0,94.5,171.2,...,3,152,5,2.68,3.47,9.0,154,5000,19,26
3,2,2,1,0,0,3,1,0,99.8,176.6,...,2,109,5,3.19,3.40,10.0,102,5500,24,30
4,2,2,1,0,0,3,0,0,99.4,176.6,...,1,136,5,3.19,3.40,8.0,115,5500,18,22

In [56]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
scaled_x=ss.fit_transform(x)
scaled_x=pd.DataFrame(scaled_x,columns=x.columns)

## Data Splitting

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(scaled_x,y,test_size=0.25,random_state=0)

## Building Models

**Linear Regression Model**

In [69]:
from sklearn.linear_model import LinearRegression 
lr=LinearRegression()
lr.fit(x_train,y_train)
lr_pred=lr.predict(x_test)
lr_pred

array([[ 6382.93026691],
       [17389.92005472],
       [14147.89198415],
       [ 1055.21610004],
       [ 9643.5641032 ],
       [13324.89135827],
       [ 6668.40772215],
       [ 4562.86338541],
       [20462.78703906],
       [ 7906.1721239 ],
       [16331.05257632],
       [27464.71725046],
       [10677.49560596],
       [13866.34759394],
       [ 7162.72443096],
       [11821.54349773],
       [ 8414.97828177],
       [20233.93897444],
       [ 9680.96283176],
       [ 7075.97329649],
       [10673.71428038],
       [20838.10685109],
       [ 8719.80441669],
       [12445.8460476 ],
       [19924.73248781],
       [ 6674.49399411],
       [ 6283.73219484],
       [21349.08936839],
       [ 7416.12154699],
       [ 6652.02883374],
       [ 6902.91267079],
       [ 9526.67131   ],
       [16949.75397355],
       [ 8267.99378763],
       [ 6470.18037542],
       [24175.36763109],
       [ 9269.28879202],
       [14938.53639148],
       [ 7111.12186591],
       [37080.36185509],
       [ 5784.53938397],
       [15366.27116196],
       [33226.56994865],
       [18996.97787541],
       [ 9408.66324165],
       [ 7763.32106284],
       [ 8057.38599825],
       [13708.24870354],
       [ 8530.16769584],
       [ 8705.11656054],
       [22758.91239044],
       [ 4481.30828962]])

**Polynomial Regression Model**

In [82]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=3)
x_poly_train=poly.fit_transform(x_train)
x_poly_test=poly.fit_transform(x_test)
from sklearn.linear_model import LinearRegression 
upd_lr=LinearRegression()
upd_lr.fit(x_poly_train,y_train)
upd_lr_pred=upd_lr.predict(x_poly_test)
upd_lr_pred

array([[ 6.07325136e+03],
       [ 2.62191510e+04],
       [ 1.71296078e+04],
       [-6.39781867e+04],
       [ 8.54878371e+03],
       [-3.16181083e+04],
       [-2.07041402e+03],
       [ 6.07397857e+04],
       [-6.60222244e+03],
       [ 6.69676939e+03],
       [ 1.40068140e+04],
       [-8.64583369e+04],
       [ 1.18450000e+04],
       [ 1.49394497e+04],
       [ 5.65146020e+03],
       [-4.38075532e+04],
       [ 2.40088903e+04],
       [ 5.20296416e+03],
       [ 8.79499031e+03],
       [ 6.00267577e+02],
       [ 9.05985380e+03],
       [ 4.24430503e+04],
       [-1.19120564e+04],
       [-7.73988232e+04],
       [ 1.53017374e+04],
       [ 1.80374355e+03],
       [ 7.79286937e+03],
       [ 4.90116900e+04],
       [ 7.29584870e+03],
       [ 8.83212918e+03],
       [ 9.22785108e+03],
       [ 1.26924649e+04],
       [-5.29362569e+04],
       [ 5.74180469e+03],
       [ 5.65349047e+03],
       [ 3.43140806e+04],
       [ 1.43087494e+05],
       [ 5.26803312e+04],
       [ 1.20898848e+04],
       [-9.36145357e+04],
       [ 7.54354045e+03],
       [ 3.47770639e+04],
       [ 1.23182777e+05],
       [ 1.37784260e+02],
       [ 1.91206889e+04],
       [ 1.60668940e+04],
       [ 6.69200000e+03],
       [ 1.43700979e+04],
       [ 1.60985463e+04],
       [ 9.68797435e+03],
       [ 7.70995393e+03],
       [ 3.29155528e+03]])

**Ridge Model**

In [16]:
# import ridge regression from sklearn library
from sklearn.linear_model import Ridge
 
# Train the model
ridgeR = Ridge(alpha = 1)
ridgeR.fit(x_train, y_train)
ridge_pred = ridgeR.predict(x_test)
ridge_pred

array([[ 6358.44614549],
       [17440.39195225],
       [14155.4858299 ],
       [ 1094.29486588],
       [ 9444.28202073],
       [13259.22785382],
       [ 6744.67629258],
       [ 4518.68591609],
       [20456.34177558],
       [ 7834.28489457],
       [16192.09535612],
       [27555.47676115],
       [10741.10521359],
       [13894.93066317],
       [ 7125.90996635],
       [11783.96733862],
       [ 8305.4927869 ],
       [20223.25585318],
       [ 9664.5523741 ],
       [ 6952.15785847],
       [10749.08203099],
       [20815.77871059],
       [ 8638.15280148],
       [12376.93652192],
       [19948.19274465],
       [ 6702.96249478],
       [ 6273.75099636],
       [21408.30544486],
       [ 7403.10362657],
       [ 6600.13097162],
       [ 6883.32313532],
       [ 9553.17413009],
       [16711.69556189],
       [ 8398.99733152],
       [ 6394.1049885 ],
       [24453.91023038],
       [ 9260.09878921],
       [14831.59289234],
       [ 6983.62677399],
       [37055.62396824],
       [ 5795.03841572],
       [15453.67546934],
       [33242.25104155],
       [19043.22749125],
       [ 9470.75308642],
       [ 7658.30818636],
       [ 7866.56522447],
       [13791.7164166 ],
       [ 8764.23050547],
       [ 8625.99584004],
       [22690.59697098],
       [ 5026.98101501]])

In [17]:
# get ridge coefficient and print them
ridge_coefficient = pd.DataFrame()
x_columns=np.array(x.columns)
x_columns
ridge_coefficient["Columns"]= scaled_x.columns
ridge_coefficient['Coefficient Estimate'] = pd.Series(ridgeR.coef_[0])
print(ridge_coefficient)

             Columns  Coefficient Estimate
0          symboling            371.472095
1        CompanyName          -1006.589840
2           fueltype            588.528405
3         aspiration            309.658564
4         doornumber           -745.679839
5            carbody           -865.223825
6         drivewheel            771.085001
7     enginelocation           1581.530307
8          wheelbase           1004.809047
9          carlength           -217.506844
10          carwidth           1360.346452
11         carheight            257.126638
12        curbweight           1889.529768
13        enginetype            121.348868
14    cylindernumber             54.226443
15        enginesize           2909.356938
16        fuelsystem            -50.353578
17         boreratio           -761.628260
18            stroke          -1032.832219
19  compressionratio            839.516966
20        horsepower            632.390614
21           peakrpm            577.911330
22           citympg           -452.168134
23        highwaympg            336.357234

**Lasso Model**

In [18]:
# import Lasso regression from sklearn library
from sklearn.linear_model import Lasso
 
# Train the model
lasso = Lasso(alpha = 1)
lasso.fit(x_train, y_train)
lasso_pred = lasso.predict(x_test)

lasso_pred

array([ 6377.55309742, 17382.13008318, 14141.00301575,  1089.91874323,
        9584.23068332, 13293.19257242,  6696.30576976,  4566.02365282,
       20463.05058781,  7885.26484324, 16299.49455651, 27298.28151421,
       10681.75838449, 13837.29208503,  7153.15456727, 11793.23190651,
        8410.26291931, 20240.57970209,  9677.12587005,  7045.2286475 ,
       10705.98403645, 20861.71092231,  8713.82127365, 12411.181727  ,
       19911.7906416 ,  6686.70665468,  6278.90654725, 21383.985045  ,
        7412.54171916,  6640.70342394,  6908.41744962,  9551.91644129,
       16865.01985886,  8287.40286761,  6451.98115969, 24246.17203295,
        9277.73375605, 14887.22980761,  7080.29349087, 37112.43729015,
        5785.24092399, 15381.45418627, 33243.9677781 , 19043.89828864,
        9444.87980973,  7751.65479677,  8007.87215583, 13733.26367419,
        8612.65410185,  8695.19537122, 22747.11148844,  4615.76087672])

In [19]:
lasso_coeff = pd.DataFrame()
lasso_coeff["Columns"] = scaled_x.columns
lasso_coeff['Coefficient Estimate'] = pd.Series(lasso.coef_)
 
print(lasso_coeff)

             Columns  Coefficient Estimate
0          symboling            374.344469
1        CompanyName          -1019.497880
2           fueltype           1316.135024
3         aspiration            430.921041
4         doornumber           -762.548167
5            carbody           -869.580259
6         drivewheel            768.999903
7     enginelocation           1596.444838
8          wheelbase           1022.602230
9          carlength           -334.539522
10          carwidth           1379.135682
11         carheight            276.438827
12        curbweight           1969.131978
13        enginetype            105.401678
14    cylindernumber             61.361518
15        enginesize           3074.864863
16        fuelsystem            -27.384499
17         boreratio           -759.951935
18            stroke          -1032.923690
19  compressionratio           1498.747855
20        horsepower            386.765744
21           peakrpm            598.805692
22           citympg           -713.907245
23        highwaympg            532.627150

## Performance Evaluation
**Calculating and displaying MSE, RMSE, R^2 for each model**

In [48]:
# calculate mean square error linear regression
from sklearn.metrics import r2_score
linear_mse = np.mean((lr_pred - y_test)**2)
linear_rmse=linear_mse**0.5
linear_r2=r2_score(y_test,lr_pred)

print("MSE for Linear Regression is ",linear_mse)
print("RMSE for Linear Regression is",linear_rmse)
print("R square for Linear Regression is",linear_r2)

MSE for Linear Regression is  price    1.271327e+07
dtype: float64
RMSE for Linear Regression is price    3565.567027
dtype: float64
R square for Linear Regression is 0.8295077818465942

In [47]:
# calculate mean square error polynomial regression
poly_mse = np.mean((upd_lr_pred - y_test)**2)
poly_rmse=poly_mse**0.5
poly_r2=r2_score(y_test,upd_lr_pred)

print("MSE for Polynomial Regression is ",poly_mse)
print("RMSE for Polynomial Regression is",poly_rmse)
print("R square for Polynomial Regression is",poly_r2)

MSE for Polynomial Regression is  price    1.716145e+09
dtype: float64
RMSE for Polynomial Regression is price    41426.379119
dtype: float64
R square for Polynomial Regression is -22.014487173526938

In [45]:
# calculate mean square error ridge
ridge_mse = np.mean((ridge_pred - y_test)**2)
ridge_rmse=ridge_mse**0.5
ridge_r2=r2_score(y_test,ridge_pred)


print("MSE for Ridge Regression is ",ridge_mse)
print("RMSE for Ridge Regression is",ridge_rmse)
print("R square for Ridge Regression is",ridge_r2)

MSE for Ridge Regression is  price    1.252677e+07
dtype: float64
RMSE for Ridge Regression is price    3539.317707
dtype: float64
R square for Ridge Regression is 0.8320088322071963

In [46]:
# Calculate Mean Squared Error Lasso
lasso_mse = np.mean((lasso_pred - np.array(y_test))**2)
lasso_rmse=lasso_mse**0.5
lasso_r2=r2_score(y_test,lasso_pred)

print("MSE for Lasso Regression is ",lasso_mse)
print("RMSE for Lasso Regression is",lasso_rmse)
print("R square for Lasso Regression is",lasso_r2)

MSE for Lasso Regression is  129204982.17189582
RMSE for Lasso Regression is 11366.836946657404
R square for Lasso Regression is 0.8298246115693888